<!DOCTYPE html>
<html>
<head>
    <title>Add Department</title>
</head>
<body>

<h2>Add Department</h2>
<form action="/add_department" method="post">
    Department ID: <input type="text" name="department_id"><br>
    Tone1: <input type="text" name="tone1"><br>
    Tone2: <input type="text" name="tone2"><br>
    <h3>Users</h3>
    Name: <input type="text" name="name"><br>
    Email: <input type="text" name="email"><br>
    Phone: <input type="text" name="phone"><br>
    <input type="submit" value="Add Department">
</form>

</body>
</html>
